/Examples/C#Examples/PDFXEditSimple/bin
/Examples/C#Examples/PDFXEditSimple/obj
/Examples/VBNetExamples/PDFXEditSimple/bin 
/Examples/VBNetExamples/PDFXEditSimple/obj
*.vs
*.user
/Bin
/Examples/CExamples/PDFXEditSimple_app/Debug
/Examples/CExamples/PDFXEditSimple_app/Win32/Debug
/lib
/Examples/CExamples/PDFXEditSimple_app/Win32/Release
/Examples/CExamples/PDFXEditSimple_app/x64/Release
/Examples/CExamples/PDFXEditSimple_app/Release
